header {
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  display: flex;
}

.logo a {
  font-size: 2.1rem;
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

/* animation menu */

.menu a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center center;
  transition: 0.5s;
}

.menu a:hover::before {
  width: 100%;
}

.login {
  list-style: none;
  display: flex;
  gap: 20px;
}

.login a {
  text-decoration: none;
  color: var(--primary-color);
}

.login li:nth-child(1) a {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
